<div class="menu-container">

</div>
<div class="product-list align-center">
  <div *ngFor="let product of products" class="product-item" [ngClass]="{'hidden': selectedCategory !== 'all' && product.category !== selectedCategory}">
    <div class="product-wrapper" class="nav-link" routerLink="contact" routerLinkActive="active-link" (click)="goTodetails(product.id)">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      <div class="product-details">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">{{ product.price }}</p>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-category">{{ product.category }}</p>
        <div class="product-sizes">
          <span *ngFor="let size of product.sizes" class="product-size">{{ size }}</span>
            <a routerLink="/details/{{ product.id }}"></a>
        </div>
        <div class="product-colors">
          <span *ngFor="let color of product.colors" class="product-color" [style.background]="color"></span>
        </div>
      </div>
    </div>
  </div>
</div>

