<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 is="sign">Sign up for our newsletter and get a 10% discount!</h2>
        <p>Be the first to know about our new arrivals, the latest fashion news and our promotions.</p>
      </div>
      <div class="col-md-12"  >
        <form class="newsletter" id="newsletter">
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" style="width: 150px;">
            <br>
            <button type="submit" class="btn-pink">Join!</button>
          </div>
        </form>

      </div>
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <input type="checkbox" id="consentCheck" name="consentCheck" class="checkmark">
        <label for="consentCheck"></label>
        <p class="text-center" id="pi" style="margin-left: 10px;">By signing up you consent to receiving newsletters in accordance with our Privacy Policy.</p>
      </div>

    </div>
  </div>
</footer>
